<form action="/restaurants/edit/{{detail.id}}?_method=PUT" method="POST" class="row gy-2 gx-3 align-items-center"
  style="background-color:rgb(236, 192, 129) ;">
  <div class="w-50 container mt-5">
    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳名稱</span>
      <input type="text" name="name" value="{{detail.name}}" aria-label="First name" class="form-control"
        placeholder='請輸入餐廳名稱'>
    </div>

    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳其他名稱</span>
      <input type="text" aria-label="First name" class="form-control" name="name_en" value="{{detail.name_en}}"
        placeholder='請輸入中文之外的名稱'>
    </div>

    <div class="input-group mb-2 ">
      <span class="input-group-text">料理分類</span>
      <input type="text" aria-label="category" class="form-control" name="category" value="{{detail.category}}"
        placeholder="輸入分類，如果沒有選項時">
    </div>

    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳圖片網址</span>
      <input type="url" aria-label="First name" class="form-control" name="image" value="{{detail.image}}"
        placeholder='只能輸入圖片連結'>
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳地址</span>
      <input type="text" aria-label="First name" class="form-control" name="location" value="{{detail.location}}"
        placeholder='請輸入餐廳地址'>
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳電話</span>
      <input type="tel" aria-label="First name" class="form-control" name="phone" value="{{detail.phone}}"
        placeholder='輸入餐廳電話'>
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">google map</span>
      <input type="url" aria-label="First name" class="form-control" name="google_map" value="{{detail.google_map}}"
        placeholder='只能輸入網址，輸入google map的連結'>
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">rating</span>
      <input type="float" max="5.0" aria-label="First name" class="form-control" name="rating" value="{{detail.rating}}"
        placeholder='輸入你的喜好程度，最多5'>
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳特色描述</span>
      <input type="text" aria-label="First name" class="form-control" name="description" value="{{detail.description}}"
        placeholder='輸入對於餐廳特色描述'>
    </div>

    <div class="input-group-append">
      <button class="btn btn-major" type="submit" id="search-button"> submit <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</form>