<form action={{formAction}} method="POST" class="row gy-2 gx-3 align-items-center"
  style="background-color:rgb(236, 192, 129) ;" id="dataForm" >
  <div class="w-50 container mt-5">
    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳名稱</span>
      <input type="text" name="name" value={{#if info}}"{{info.name}}"{{else}}"{{name}}"{{/if}} aria-label="First name"
        class="form-control" placeholder='請輸入餐廳名稱' minlength="1" required>
     
    </div>

    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳其他名稱</span>
      <input type="text" aria-label="First name" class="form-control" name="name_en" value={{#if
        info}}"{{info.name_en}}"{{else}}"{{name}}"{{/if}} placeholder='請輸入餐廳名稱的其他名稱'>
    </div>

    <div class="input-group mb-2 ">
      <span class="input-group-text">料理分類</span>
      <input type="text" aria-label="category" class="form-control" name="category" value={{#if
        info}}"{{info.category}}"{{else}}"{{name}}"{{/if}} placeholder="輸入分類" required minlength="1">
      
    </div>

    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳圖片網址</span>
      <input type="url" aria-label="First name" class="form-control" name="image" value={{#if
        info}}"{{info.image}}"{{else}}"{{name}}"{{/if}} placeholder='輸入圖片連結網址,http://onePitcture.com'
        >
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳地址</span>
      <input type="text" aria-label="First name" class="form-control" name="location" value={{#if
        info}}"{{info.location}}"{{else}}"{{name}}"{{/if}} placeholder='請輸入餐廳地址'>
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳電話</span>
      <input type="tel" aria-label="First name" class="form-control" name="phone" value={{#if
        info}}"{{info.phone}}"{{else}}"{{name}}"{{/if}} placeholder='輸入餐廳電話共十碼,ex:0223495678' minlength="10"
        ,maxlength='10' pattern="^0+\d{9}$" required>
      
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">google map</span>
      <input type="url" aria-label="First name" class="form-control" name="google_map" value={{#if
        info}}"{{info.google_map}}"{{else}}"{{name}}"{{/if}} placeholder='只能輸入網址，輸入google map的連結' required
        pattern="^https?://.+">
    
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">rating</span>
      <input type="float" max="5.0" aria-label="First name" class="form-control" name="rating" value={{#if
        info}}"{{info.rating}}"{{else}}"{{name}}"{{/if}} placeholder='輸入你的喜好程度，最多5' minlength="1" required >
    </div>
    <div class="input-group mb-2 ">
      <span class="input-group-text">餐廳特色描述</span>
      <input type="text" aria-label="First name" class="form-control" name="description" value={{#if
        info}}"{{info.description}}"{{else}}"{{name}}"{{/if}} placeholder='輸入對於餐廳特色描述'>
    </div>

    <div class="input-group-append">
      <button class="btn btn-major" type="submit" id="submit_button"> submit <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</form>