<div class="row">
  <div class="col-md-10 col-12 mx-auto">
    <div class="row row-cols-sm-3">
      {{#each restaurants as |restaurant|}}
      <a href="/restaurants/{{restaurant.id}}" class="text-secondary">
        <div class="card mb-3">
          <img class="card-img-top" src="{{restaurant.image}}"
            alt="{{restaurant.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{restaurant.name}}</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{restaurant.category}}
            </div>

            <span class="badge rounded-pill bg-danger font-weight-normal">
              {{restaurant.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
        </div>
      </a>
       {{/each}}
    </div>
  </div>
</div>